#endContents {
  font-family: "Sigmar One", cursive;
  background-color: rgb(230, 191, 191);
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}
#bigtitle {
  font-family: "Sigmar One", cursive;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
#ranking {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rank {
  font-size: 20px;
  display: flex;
  align-items: center;
  width: 40vw;
  height: 40px;
  border-bottom: 1px solid black;
}

.rank > span {
  font-size: 30px;
  background-color: beige;
  text-align: center;
  width: 36px;
  height: 38px;
  border-radius: 50%;
}
#rank1 > span {
  background-color: gold;
}
#rank2 > span {
  background-color: silver;
}
#rank3 > span {
  background-color: burlywood;
}
#restartBtn {
  font-family: "Sigmar One", cursive;
  margin-top: 30px;
  font-size: large;
  background-color: rgba(230, 102, 191, 0.76);
  width: 150px;
  height: 40px;
  border-radius: 20px;
}
#yourscore {
  font-family: "Sigmar One", cursive;
  display: flex;
  justify-content: center;
}
