@import "timer.css";
@import "start.css";
@import "end.css";
#info {
  font-family: "Sigmar One", cursive;
  float: left;
  margin-left: 50px;
  font-size: 30px;
}
#contents {
  background-color: rgb(230, 191, 191);
  width: 1200px;
  height: 800px;
  margin: 0 auto;
}
#tajaContents {
  width: 100%;
  height: 95%;
  position: relative;
}
#inputContents {
  text-align: center;
  border-top-style: solid;
  border-top-color: black;
  padding-top: 5px;
}
#inputText {
  display: inline-block;
}
#inputBtn {
  display: inline-block;
}
